<!DOCTYPE html>
<html>

<head>
    <title>Cuoco</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div><a href="/"><img src="/images/logo-siwfood.png" width="50%" /></a></div>
    
    <div th:object="${cuoco}">
        <img th:if="${cuoco.getFirstImage() != null}" th:src="'data:image/jpeg;base64,' + ${cuoco.getFirstImage().getBase64()}" width="30%"/>
    </div>
    
    <div>
        <h1 th:text="${cuoco.nome+ ' ' + cuoco.cognome}">Nome Cognome</h1>
        <div>Data di nascita: <span th:text="'' + ${cuoco.data_nascita} + ''">2000</span></div>
        
        <div>
            <h3>Ricette </h3>
            <div th:if="${#lists.isEmpty(cuoco.ricette)}">
                <p>Non ci sono attualmente ricette per questo cuoco</p>
            </div>
            <ul th:unless="${#lists.isEmpty(cuoco.ricette)}">
                <li th:each="ricetta : ${cuoco.ricette}">
                    <span th:text="${ricetta.nome}"></span>
                </li>
            </ul>
        </div>
    </div>
        
    <div th:if="${cuoco == null}">Non esiste</div>
   
    <div>
        <a th:href="@{/cuochi}">torna alla lista dei cuochi</a>    
    </div>

    <div><a th:href="@{/admin/updatecuoco/{id}(id=${cuoco.id})}">Aggiorna dati cuoco</a></div>
    
    <div>
        <a th:href="@{/chef/formNewRicetta/{cuoco_id}(cuoco_id=${cuoco.id})}">Aggiungi ricetta</a>    
    </div>

    <form th:action="@{/admin/deletecuoco/{id}(id=${cuoco.id})}" method="post">
        <input type="hidden" name="_method" value="post"> <!-- Simula DELETE -->
        <button type="submit">Elimina Cuoco</button>
    </form>

</body>

</html>
