<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cuochi</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <div class="logo-container">
        <a href="/"><img src="/images/logo-siwfood.png" class="logo" /></a>
    </div>

    <div class="wrapper">
        <h1>Cuochi</h1>
        <div th:if="${cuochi == null || cuochi.isEmpty()}" class="message">Non ci sono Cuochi nel sistema</div>
        <ul class="ricette-list">
            <li class="ricetta-item" th:each="cuoco : ${cuochi}">
                <a th:href="@{'/cuochi/' + ${cuoco.id}}" th:text="${cuoco.nome + ' ' + cuoco.cognome}">Nome Cuoco</a>
            </li>
        </ul>
        <div class="navigation">
            <a href="/admin/formNewCuoco">Aggiungi un nuovo Cuoco</a>
        </div>
        <div class="navigation">
            <a href="/">Torna all'home page</a>
        </div>
    </div>
</body>
</html>
