<!DOCTYPE html>
<html>

<head>
    <title>Cuoco</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div><a href="/"><img src="/images/logo-siwfood.png" width="50%" /></a></div>

    <div th:if="${cuoco != null}">
        <h1 th:text="${cuoco.nome+ ' ' + cuoco.cognome}">Nome Cognome</h1>
        <div>Data di nascita: <span th:text="'' + ${cuoco.data_nascita} + ''">2000</span></div>
        <div><img th:src="@{${cuoco.urlimage}}" width="30%" /></div>
    </div>
    <div th:if="${cuoco == null}">Non esiste</div>
</body>

</html>
