<!DOCTYPE html>
<html>

<head>
	<title>Cuoco</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><a href="/"><img src="/images/logo-siwfood.png" width="50%" /></a></div>
	<h1>Dettagli </h1>
	<div th:if="${cuoco}">
		<h1 th:text="${cuoco.nome}">Nome </h1>
        <h1 th:text="${cuoco.cognome}">Cognome </h1>
		<div>Data di nascita: <span th:text="'(' + ${cuoco.dataDiNascita} + ')'">2000</span></div>
		<div><img  th:src="@{${cuoco.urlimage}}" width="30%"/></div>
	</div>
	<div th:unless="${cuoco}">Non esiste</div>
</body>

</html>


