<!DOCTYPE html>
<html>
<head>
	<title>New Cuoco</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	<div>
		<!--<a href="/"><img src="/images/logo-siwfood.png" width="50%"/></a>-->
	</div>
	<h1>Aggiungi un cuoco</h1>
	<form action="/cuochi/savenewcuoco" method="post" enctype="multipart/form-data" th:object="${cuoco}">
		<div>
			<label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required>
		</div>
        <div>
			<label for="nome">Cognome:</label>
            <input type="text" id="cognome" th:field="*{cognome}" required>
		</div>
		<div>
			<label for="dataNascita">Data di Nascita:</label>
            <input type="date" id="dataNascita" th:field="*{data_nascita}" required>
		</div>
		<div>
			<label for="immagine">Immagine:</label>
            <input type="file" id="immagine" name="immagine" accept="image/*" required>
		</div>
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
	<a th:href="@{/cuochi}">Torna alla lista dei cuochi</a>
</body>
</html>