<!DOCTYPE html>
<html>
<head>
    <title>Nuovo Ingrediente</title>
</head>
<body>
    <div>
        <a href="/"><img src="/images/logo-siwfood.png" width="50%"/></a>
    </div>
    <h1>Nuovo Ingrediente</h1>
    <form th:action="@{/ricette/saveIngredienti/{id}(id=${ricetta.id})}" th:object="${ingrediente}" method="post">
        <div>
            <label>Nome:</label> <span><input type="text" th:field="*{nome}"/></span>
        </div>
        <div>
            <label>Quantita:</label> <span><input type="text" th:field="*{quantita}" /></span>
        </div>
        <div>
            <label></label>Url Image:</label> <span><input type="text" th:field="*{urlimage}" /></span>
        </div>

        <div>
            <span><button type="submit">Conferma</button></span>
        </div>
    </form>
    <div>
        <a th:href="@{/ricette/{id}}">torna ai dettagli della ricetta</a>    
    </div>
</body>
</html>