<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiorna Cuoco</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <div class="logo-container">
        <a href="/"><img src="/images/logo-siwfood.png" class="logo" alt="Logo"/></a>
    </div>

    <div class="wrapper">
        <h1>Aggiorna Cuoco</h1>

        <form th:action="@{/admin/updatecuoco/{id}(id=${cuoco.id})}" method="post" th:object="${cuoco}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" th:field="*{nome}" required>
            </div>

            <div class="form-group">
                <label for="cognome">Cognome:</label>
                <input type="text" id="cognome" th:field="*{cognome}" required>
            </div>

            <div class="form-group">
                <label for="dataNascita">Data di Nascita:</label>
                <input type="date" id="dataNascita" th:field="*{data_nascita}" required>
            </div>

            <div class="form-group">
                <label for="immagine">Immagine:</label>
                <input type="file" id="immagine" name="immagine" accept="image/*">
            </div>

            <button type="submit" class="submit-button">Aggiorna Cuoco</button>
        </form>

        <div class="navigation">
            <a th:href="@{/cuochi/{id}(id=${cuoco.id})}">Torna ai dettagli del cuoco</a>
        </div>
    </div>
</body>
</html>
