<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuovo Ingrediente</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <div class="logo-container">
        <a href="/"><img src="/images/logo-siwfood.png" class="logo" /></a>
    </div>

    <div class="wrapper">
        <h1>Nuovo Ingrediente</h1>
        <form th:action="@{/chef/saveIngredienti/{ricetta_id}(ricetta_id=${ricetta.id})}" enctype="multipart/form-data" th:object="${ingrediente}" method="post">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" th:field="*{nome}" required />
            </div>
            <div class="form-group">
                <label for="quantita">Quantità:</label>
                <input type="text" id="quantita" th:field="*{quantita}" required />
            </div>
            <div class="form-group">
                <label for="immagine">Immagine:</label>
                <input type="file" id="immagine" name="immagine" accept="image/*" required />
            </div>
            <div class="form-group">
                <button type="submit">Conferma</button>
            </div>
        </form>
        <div class="navigation">
            <a th:href="@{/ricette/{id}(id=${ricetta.id})}">Torna ai dettagli della ricetta</a>    
        </div>
    </div>
</body>
</html>
