<!DOCTYPE html>
<html>
<head>
    <title>New Ricetta</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div>
        <a href="/"><img src="/images/logo-siwfood.png" width="50%"/></a>
    </div>
    <h1>Aggiungi una ricetta</h1>
    <form th:action="@{/ricetta}" method="post" th:object="${ricetta}">
        <div>
            <span th:text="${messaggioErrore}">Errore</span>
        </div>
        <div>
            <label>Nome:</label> <span><input type="text" th:field="*{nome}"/></span>
        </div>
        <div>
            <label>Descrizione:</label> <span><input type="text" th:field="*{descrizione}"/></span>
        </div>
        <div>
            <label>Cuoco:</label>  <span><input  type="text" th:field="*{cuoco}"/></span>
        </div>
    
        <div>
            <label>Immagine:</label>  <span><input  type="text" th:field="*{urlimage}"/></span>
        </div>
        
            
        <div>
            <span><button type="submit">Conferma</button></span>
        </div>
    </form>
</body>
</html>
