<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiorna Ricetta</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <div><a href="/"><img src="/images/logo-siwfood.png" width="50%" /></a></div>

    <h1>Aggiorna Ricetta</h1>
    <form th:action="@{/ricette/update/{id}(id=${ricetta.id})}" method="post" th:object="${ricetta}">
        <!-- I campi del modulo per l'aggiornamento della ricetta -->
        Nome: <input type="text" th:field="*{nome}" /><br/>
        Descrizione: <textarea th:field="*{descrizione}"></textarea><br/>
        URL Immagine: <input type="text" th:field="*{urlimage}" /><br/>
        
        <input type="hidden" th:value="${ricetta.cuoco.id}" name="cuocoId" />
        <button type="submit">Aggiorna Ricetta</button>
    </form>
    <div>
        <a th:href="@{/ricette/{id}}">torna ai dettagli del cuoco</a>    
    </div>
</body>
</html>
