<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cerca</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div class="logo-container">
        <a href="/"><img src="/images/logo-siwfood.png" class="logo" /></a>
    </div>
    
    <div class="wrapper">
        <h1>Cerca</h1>
        
        <div class="form-container">
            <form th:action="@{/searchCuoco}" method="post">
                <label for="nomeCuoco">Cerca Cuoco:</label>
                <input type="text" id="nomeCuoco" name="nome" required />
                <button type="submit">Cerca</button>
            </form>
        </div>

        <div class="form-container">
            <form th:action="@{/searchRicetta}" method="post">
                <label for="nomeRicetta">Cerca Ricetta:</label>
                <input type="text" id="nomeRicetta" name="nome" required />
                <button type="submit">Cerca</button>
            </form>
        </div>

        <div class="form-container">
            <form th:action="@{/searchByIngrediente}" method="post">
                <label for="ingrediente">Cerca Ingrediente:</label>
                <input type="text" id="ingrediente" name="ingrediente" required />
                <button type="submit">Cerca</button>
            </form>
        </div>

        <div class="navigation">
            <a th:href="@{/}">Torna alla Home Page</a>    
        </div>
    </div>
</body>
</html>
