<!DOCTYPE html>
<html>
<head>
    <title>New Ricetta</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div>
       <!--<a href="/"><img src="/images/logo-siwfood.png" width="50%"/></a>-->
    </div>
    <h1>Aggiungi una ricetta</h1>
    <form action="/ricette/save/{cuoco_id}(cuoco_id=${cuoco.id})" method="post" enctype="multipart/form-data" th:object="${ricetta}" method="post">
        <div>
            <span th:text="${messaggioErrore}">Errore</span>
        </div>
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required>
        </div>
        <div>
            <label for="descrizione">Descrizione:</label>
            <input type="text" id="descrizione" th:field="*{descrizione}" required>
        </div>

        <div>
            <label for="immagine">Immagine:</label>
            <input type="file" id="immagine" name="immagine" accept="image/*" required>
        </div>
        
            
        <div>
            <span><button type="submit">Conferma</button></span>
        </div>
    </form>
    <div>
        <a th:href="@{/cuochi/{id}}">torna ai dettagli del cuoco</a>    
    </div>
</body>
</html>
