<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiorna Ricetta</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <div class="logo-container">
        <a href="/"><img src="/images/logo-siwfood.png" class="logo" /></a>
    </div>

    <div class="wrapper">
        <h1>Aggiorna Ricetta</h1>
        <form th:action="@{/chef/updatericetta/{id}/{cuoco_id}(id=${ricetta.id},cuoco_id=${ricetta.cuoco.id})}" enctype="multipart/form-data" method="post" th:object="${ricetta}">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" th:field="*{nome}" required />
            </div>
            <div class="form-group">
                <label for="descrizione">Descrizione:</label>
                <input type="text" id="descrizione" th:field="*{descrizione}" required />
            </div>
            <div class="form-group">
                <label for="immagine">Immagine:</label>
                <input type="file" id="immagine" name="immagine" accept="image/*" multiple/>
            </div>
            <button type="submit">Aggiorna Ricetta</button>
        </form>
        
        <h1>Nuovo Ingrediente</h1>
        <form th:action="@{/chef/saveIngredienti/{ricetta_id}(ricetta_id=${ricetta.id})}" enctype="multipart/form-data" th:object="${ingrediente}" method="post">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" th:field="*{nome}" required />
            </div>
            <div class="form-group">
                <label for="quantita">Quantità:</label>
                <input type="text" id="quantita" th:field="*{quantita}" required />
            </div>
            <div class="form-group">
                <label for="immagine">Immagine:</label>
                <input type="file" id="immagine" name="immagine" accept="image/*" required />
            </div>
            <div class="form-group">
                <button type="submit">Conferma</button>
            </div>
        </form>

        <div class="navigation">
            <a th:href="@{/ricette/{id}(id=${ricetta.id})}">Torna ai dettagli della ricetta</a>
        </div>
    </div>
</body>
</html>
