<!DOCTYPE html>
<html>
<head>
	<title>New Ingrediente</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	<div>
		<a href="/"><img=src"/logo-siwfood.png" width="50%"/></a>
	</div>
	<h1>Aggiungi un ingrediente</h1>
	<form action='#' th:action="@{/ingrediente}" method="post" th:object="${ingrediente}">
		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		<div>
			nome: <span><input type="text" th:field="*{nome}"/></span>
		</div>
        <div>
			quantità: <span><input type="text" th:field="*{quantità}"/></span>
		</div>
		
		<div>
			URL immagine: <span><input  type="text" th:field="*{urlimage}"/></span>
		</div>
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>
</html>