<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" th:field="${credentials.username}">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" th:field="${credentials.password}">
    </div>
    <div>
        <label for="nome">Nome</label>
        <input type="text" th:field="${user.name}">
    </div>
    <div>
        <label for="cognome">Cognome</label>
        <input type="text" th:field="${user.surname}">
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
</body>
</html>
