<!DOCTYPE html>
<html>

<head>
    <title>SiwFood - Homepage</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <div class="logo-container">
        <img src="/images/logo-siwfood.png" class="logo" />
    </div>
    <div class="wrapper">
        <h1>Operazioni</h1>
        <div class="navigation">
            <a href="/ricette">Ricette</a>
        </div>
        <div class="navigation">
            <a href="/cuochi">Cuochi</a>
        </div>
        <div class="navigation">
            <a href="/formSearch">Cerca</a>
        </div>
    </div>
</body>

</html>
