<!DOCTYPE html>
<html>

<head>
	<title>Ricetta</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><a href="/"><img src="/images/logo-siwfood.png" width="50%" /></a></div>

	
	<h1 th:text="${ricetta.nome}">Nome ricetta</h1>
	<div><span th:text="'' + ${ricetta.cuoco.toString()} + ''">Cuoco 2000</span></div>
	<div> <span th:text="'' + ${ricetta.descrizione} + ''">Descrizione 2000</span></div>
	<div><img th:src="@{${ricetta.urlimage}}" width="30%"  /></div>


</body>

</html>




   