<!DOCTYPE html>
<html>

<head>
	<title>Ricetta</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><a href="/"><img src="/images/logo-siwfood.png" width="50%" /></a></div>
	<h1>Dettagli Ricetta</h1>
	<div th:if="${ricetta}">
		<h1 th:text="${ricetta.nome}">Nome ricetta</h1>
		<div>Cuoco: <span th:text="'(' + ${ricetta.cuoco} + ')'">2000</span></div>
        <div>Descrizione: <span th:text="'(' + ${ricetta.descrizione} + ')'">2000</span></div>
		<span><img width="30%" th:src="${ricetta.urlImmagine}" /></span>
	</div>
	<tr th:each="ingrediente : ${ricetta.ingredienti}">
		<td th:text="${ingrediente.nome}">Ingrediente</td>
		<td th:text="${ingrediente.quantità}">Quantità</td>
	</tr>
	<div th:if="${!ricetta.ingredienti.isEmpty()}">Non esiste</div>
</body>

</html>



<!--
    private Map<String,Long> ingredienti; -->
   