<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dettaglio Ricetta</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <div class="logo-container">
        <a href="/"><img src="/images/logo-siwfood.png" class="logo" /></a>
    </div>

    <div class="wrapper">
        <!-- Immagine della ricetta -->
        <div class="container">
            <div th:if="${ricetta.hasImages() == true}">
                <span th:each="immagine: ${ricetta.immagini}">
                    <img
                        th:src="'data:image/jpeg;base64,' + ${immagine.getBase64()}" width="30%" />
                </span>
            </div>
        </div>

        <!-- Dettagli della ricetta -->
        <div th:if="${ricetta != null}">
            <h1 th:text="${ricetta.nome}">Nome Ricetta</h1>
            <div class="message">
                Descrizione: <span th:text="${ricetta.descrizione}">Descrizione</span>
            </div>
        </div>

        <!-- Ingredienti della ricetta -->
        <div>
            <h3>Ingredienti</h3>
            <ul class="ricette-list">
                <li class="ricetta-item" th:each="ingrediente : ${ricetta.ingredienti}">
                    <a th:href="@{/ricette/{ricettaId}/ingrediente/{ingredienteId}(ricettaId=${ingrediente.ricetta.id}, ingredienteId=${ingrediente.id})}">
                        <span th:text="${ingrediente.nome}">Nome Ingrediente</span>
                    </a>: 
                    <span th:text="${ingrediente.quantita}">Quantità Ingrediente</span>
                </li>
            </ul>
        </div>

        <!-- Cuoco associato alla ricetta -->
        <div>
            <h3>Cuoco:</h3>
            <p class="message">
                <a th:href="@{/cuochi/{id}(id=${ricetta.cuoco.id})}" 
                   th:text="${ricetta.cuoco.nome + ' ' + ricetta.cuoco.cognome}">Nome Cuoco</a>
            </p>
        </div>

        <!-- Messaggio per ricetta non trovata -->
        <div class="message" th:if="${ricetta == null}">Non esiste</div>

        <!-- Controllo se l'utente è loggato e se è admin -->
        <div th:if="${userDetails}">
            <!-- Link per aggiornare la ricetta -->
            <div class="navigation">
                <a th:href="@{/chef/editricetta/{id}(id=${ricetta.id})}">Aggiorna Ricetta</a>
            </div>

            
            <!-- Form per eliminare la ricetta -->
            <form th:action="@{/chef/deletericetta/{id}(id=${ricetta.id})}" method="post" class="navigation">
                <input type="hidden" name="_method" value="delete"> <!-- Simula DELETE -->
                <button type="submit">Elimina Ricetta</button>
            </form>
        </div>

        <!-- Link per tornare alla lista delle ricette -->
        <div class="navigation">
            <a th:href="@{/ricette}">Torna alla lista delle ricette</a>
        </div>

    </div>
</body>
</html>
